
<div class="banner">
  <div id='username' class="container d-flex flex-column justify-content-center text-center">
    <div>
      <h1 id='username' style="font-size: 60px" >CSGO players have been <strong>dreaming</strong> about<strong> this platform</strong> !</h1>
      <p style="font-size: 29px" >Find your perfect game buddy now, with GAMRZ.</p>
    </div>
    <div class='mt-4'><%= link_to 'Team-up !', users_path, class:"neon-btn", data: {turbolinks: false} %></div>
  </div>
</div>


<div class="row mr-2 ml-2 justify-content-around">
  <div class="col-lg-3 c card1 text-justify">
    <div class='text-center'>
      <i style="font-size: 80px" class="mb-5 fas fa-filter"></i>
    </div>
      <em><h5 id='username' style="color: white">"I found amazing teammates thanks to this website. Filtering people according to our game preference is a GAME changer."</h5></em>
      <p id='username' style="font-size: 15px">Baptiste, Paris.</p>
  </div>
  <div class="col-lg-3 c card1 text-justify">
    <div class='text-center'>
      <i style="font-size: 80px" class="mb-5 fas fa-user-friends"></i>
    </div>
    <em><h5 id='username' style="color: white">"GAMRZ is amazing when searching people to play with. This app is definitely easing my gameplay with others. I recommand it."</h5></em>
    <p id='username' style="font-size: 15px">Henriko, Chile</p>
  </div>
  <div class="col-lg-3 card1 c text-justify">
    <div class='text-center'>
      <i style="font-size: 80px" class="mb-5 fas fa-hand-peace"></i>
    </div>
    <em><h5 id='username' style="color: white">"Before, finding the perfect players was always a question of luck. Now, it has become a normality thanks to GAMRZ."</h5></em>
    <p id='username' style="font-size: 15px">Mamoun, Casablanca.</p>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    GAMRZ, your CSGO buddy finder.
  </div>
</div>

