
<div class="banner">
  <div id='username' class="container d-flex flex-column justify-content-center text-center">
    <div>
      <h1 id='username' style="font-size: 40px" >CSGO players have been <strong>dreaming</strong> about<strong> this platform</strong> !</h1>
      <p style="font-size: 29px" >Find your perfect game buddy now, with GAMRZS.</p>
    </div>
    <div class='mt-4'><%= link_to 'Swipe!', users_path, class:"neon-btn" %></div>
  </div>
</div>

<div class= 'container c mt-5'>
  <div class="c text-justify d-flex m-4 mt-5 justify-content-between align-items-center ">
    <i style="font-size: 100px" class="mr-4 fas fa-filter"></i>
    <em><h4 id='username' style="color: white; margin-left: 60px">"I found amazing teammates thanks to this website. Filtering people according to our game preference is a GAME changer."</h4></em>
  </div>
    <div class="c text-justify d-flex m-4 mt-5 justify-content-around align-items-center ">
    <em><h4 id='username' style="color: white; margin-right: 80px">"GAMRZ is amazing when searching people to play with. This app is definitely easing my gameplay with others. I recommand it."<h4></em>
    <i style="font-size: 100px" class="mr-4 fas fa-user-friends"></i>
  </div>
    <div class=" text-justify d-flex mt-5  m-4 justify-content-around align-items-center ">
    <i style="font-size: 100px" class="mr-4 fas fa-hand-peace"></i>
    <em><h4 id='username' style="color: white; margin-left: 60px">"Before, finding the perfect players was always a question of luck. Now, it has become a normality thanks to GAMRZ."</h4></em>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    GAMRZ, your CSGO buddy finder.
  </div>
</div>

