<% @matches.each do |match| %>
    <div id="map">
    <p><%= match.to_user.username %></p>
    <p><%= link_to "send message", chatroom_path(match.chatroom) %></p>
    <p><%= link_to "more about #{match.to_user.username}", user_path(match.to_user_id)%></p>
    </div>
<% end %>


<div id="map"><%= link_to "find more gamrs", users_path%></div>
