<% @matches.where(mutual: true).each do |match| %>
    <div id="map">
        <div class="text-index">
            <%= match.to_user.username %>
        </div>
    <%= link_to "send message", chatroom_path(match.chatroom) %>
    </div>
<% end %>

<div id="map"><%= link_to "find more gamrs", users_path%></div>