.message-container {
  display: flex;
}


.message-container.me {
  justify-content: flex-end;
  .message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.message-content > p {
  background-color: rgba(110, 175, 219, 0.933);
  padding: 8px 16px;
  border-radius: 20px;
  width: min-content;
  color: rgb(255, 255, 255);
  inline-size: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.author {
  font-size: 0.8rem;
  color: #777777;
  margin-left: 10px;
}

.me > .message-content >  p {
  right: 95%;
  color: white;
  background-color: #e9e7ff71;
  margin-right: 10px;
}

.chat-box {
  overflow-y: scroll;
  height: 575px;
  padding: 12px;
}

.user-title {
  color: #29335C;
  font-size: 32px;
  font-weight: bold;
}


.form_wrapper {
  position: relative;
  .fa-search {
    position: absolute;
    right: 6px;
    top: 8px;
  }
  input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
  }
}

.chatbox-contact {
  background: #454753;
}

.chat-contact img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-contact {
  background: #3D348B;
  border-radius: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.chat-contact > a {
  color: #48dbfb;
}

.form_wrapper-again {
  position: relative;
  .fa-arrow-alt-circle-right {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 23px;
    color: #f6f6f6;
  }
  input[type="submit"] {
    position: absolute;
    color: white;
    background-color: transparent;
    right: 0;
    top: 0;
    opacity: 0;
  }
}

.form-control{
  background-color: transparent !important;
  color: white !important;
}
