.message-container {
  display: flex;
}
.message-container.me {
  justify-content: flex-end;

}
.message-content > p {
  background-color: #eeee;
  padding: 8px 16px;
  border-radius: 20px;
  width: min-content;
  inline-size: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.author {
  font-size: 0.8rem;
  color: #777777;
  margin-left: 10px;
}

.me > .message-content >  p {
  right: 95%;
  color: white;
  background-color: aqua;
  margin-right: 10px;
}

.chat-box {
  overflow-y: scroll;
  height: 575px;
}
