.navbar-lewagon {
  justify-content: space-between;
  background: var(--color-bg);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-index {
  margin-top: 24px;
  color: #48dbfb;
}

.marginss {
  margin-top: 20px;
  margin-right: 12px;
}

.avatar {
  width: 50px;
    border-radius: 50%;
    height: 50px;
}