.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(45deg, #2B3DD0, #813FBE);;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-index {
  margin-top: 24px;
  color: #48dbfb;
}

.marginss {
  margin-top: 13px;
  margin-bottom: 7px;
  margin-right: 12px;
}

.avatar {
  width: 50px;
    border-radius: 50%;
    height: 50px;
}
