.navbar-lewagon {
  justify-content: space-between;
  background-color:rgba(77, 139, 255, 0);
  margin-bottom: 12px;
}

.icon{
  color: azure;
  font-size: 50px;
  margin-left: 9px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-index {
  margin-top: 24px;
  color: #48dbfb;
}

.marginss {
  margin-top: 13px;
  margin-bottom: 7px;
  margin-right: 12px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  border: 0.5px solid white;
}
